<template>
  <div>
    <div class="flex justify-center">
      <div class="p-4 border-2 border-gray-300 rounded-lg w-1/3 mt-2">
        <p class="mt-4">จาก DO</p>
        <input
          type="text"
          v-model="old_DO"
          id=""
          class="border-2 border-gray-300 rounded-lg focus:outline-none p-2 text-center"
          OnKeyPress="if (event.keyCode < 48 || event.keyCode > 57) event.returnValue = false;1"
        />
        <p>เป็น DO</p>
        <input
          type="text"
          v-model="new_DO"
          name=""
          id=""
          class="border-2 border-gray-300 rounded-lg focus:outline-none p-2 text-center"
          OnKeyPress="if (event.keyCode < 48 || event.keyCode > 57) event.returnValue = false;1"
        />
        <p></p>
        <button
          @click="getdata()"
          class="border-2 my-2 p-2 rounded-lg focus:outline-none bg-yellow-400 border-yellow-100 font-semibold shadow-lg"
        >
          ตรวจสอบ
        </button>
        <button
          v-if="this.check == 1"
          @click="post()"
          class="border-2 my-2 p-2 rounded-lg focus:outline-none mx-2 bg-green-400 border-green-100 font-semibold shadow-lg"
        >
          ยืนยัน
        </button>
      </div>
    </div>
    <div class="flex justify-center">
      <table v-if="this.check == 1" class="mt-2 border-collapse">
        <thead>
          <tr
            class="text-md font-semibold text-left text-gray-900 bg-gray-300 uppercase border-b border-gray-600"
          >
            <th class="px-4 py-3">เลขที่เอกสาร</th>
            <th class="px-4 py-3">จำนวนรายการ</th>
            <th class="px-4 py-3">ชื่อรายการ</th>
            <th class="px-4 py-3">ทะเบียนรถ</th>
            <th class="px-4 py-3">HN</th>
            <th class="px-4 py-3">เลขที่มัด</th>
            <th class="px-4 py-3">ขนาด</th>
            <th class="px-4 py-3">น้ำหนัก</th>
            <th class="px-4 py-3">จำนวนเส้น</th>
            <th class="px-4 py-3">MAT Code</th>
          </tr>
        </thead>

        <tbody class="bg-white">
          <tr
            class="text-gray-700"
            v-for="item in this.DATA"
            :key="item.item_id"
          >
            <td class="px-4 py-3 border">
              <span
                class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-sm"
              >
                {{ item.VBELN }}
              </span>
            </td>
            <td class="px-4 py-3 text-ms font-semibold border">
              {{ item.POSNR }}
            </td>
            <td class="px-4 py-3 text-xs border">
              {{ item.ar_name }}
            </td>
            <td class="px-4 py-3 text-sm border">{{ item.carlicense }}</td>
            <td class="px-4 py-3 text-sm border">{{ item.charge }}</td>
            <td class="px-4 py-3 text-sm border">{{ item.bundle }}</td>
            <td class="px-4 py-3 text-sm border">{{ item.size }}</td>
            <td class="px-4 py-3 text-sm border">{{ item.weight }}</td>
            <td class="px-4 py-3 text-sm border">{{ item.qty }}</td>
            <td class="px-4 py-3 text-sm border">{{ item.mat_code }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
const axios = require("axios");
import { PerfectScrollbar } from "vue2-perfect-scrollbar";
const apiurl = "https://hook.zubbsteel.com/line-ci/editdata_auto/eddata";

export default {
  data() {
    return {
      DATA: [],
      old_DO: "",
      new_DO: "",
      check: 0,
    };
  },
  components() {
    PerfectScrollbar;
  },
  created() {
    // this.getdata();
  },
  watch: {
    old_DO() {
      this.check = 0;
    },
  },
  methods: {
    async getdata() {
      if (this.old_DO != "") {
        try {
          const a = await axios.get(apiurl + "/getdata" + "/" + this.old_DO);
          this.DATA = a.data;
          if (this.DATA.length != 0) {
            this.check = 1;
          } else {
            alert("ไม่พบข้อมูลเลขที่เอกสารดังกล่าว");
            (this.old_DO = ""), (this.new_DO = "");
          }
        } catch (error) {
          console.error();
        }
      } else {
        alert("กรุณากรอกเลขที่เอกสารเดิม");
      }
    },

    async post() {
      if (this.new_DO != "" && this.old_DO != "") {
        if (confirm("r u sure to update??")) {
          alert("Update Success!!");
          try {
            await axios.post(apiurl + "/update_do", {
              new_do: this.new_DO,
              old_do: this.old_DO,
            });
            this.old_DO = "";
            this.new_DO = "";
            this.check = 0;
          } catch {
            console.error();
          }
        }
      } else {
        if (this.new_DO == "") {
          alert("กรุณาใส่เลขที่เอกสารใหม่ที่ต้องการ");
        } else if (this.old_DO == "") {
          alert("กรุณาใส่เลขที่เอกสารเดิมที่ต้องการแก้ไข");
        } else {
          alert("กรุณากรอกข้อมูลให้ครบ");
        }
      }
    },
    chkNumber(ele) {
      var vchar = String.fromCharCode(event.keyCode);

      if ((vchar < "0" || vchar > "9") && vchar != ".") return false;

      ele.onKeyPress = vchar;
    },
  },
};
</script>
<style scoped>
.ps {
  height: 400px;
  position: sticky;
}
/* .fixed {
  position: sticky;
} */
</style>
