<template>
  <div>
    <div class="my-3 md:ml-2 mr-2 mr-36">
      <!-- <div class="flex justify-end">
        <table class="w-5/6 rounded">
          <thead class="">
            <tr class="bg-gray-300 border border-gray-700 uppercase">
              <th
                colspan="2"
                class="px-1 lg:px-2 py-2 text-xs md:text-base border border-gray-700 w-28"
                v-for="(item, index) in manBU"
                :key="index"
              >
                {{ item.bu }}
              </th>
            </tr>
            <tr></tr>
            <td
              v-for="item in manBU"
              :key="item.bu"
              colspan="2"
              class="border border-gray-700"
            >
              <div class="flex justify-inline">
                <div class="w-1/2 border-r bg-gray-200 border-gray-700">
                  <span class="text-xs md:text-base">{{ item.pl }}</span>
                </div>
                <div class="w-1/2">
                  <span class="text-xs md:text-base">{{ item.act }}</span>
                </div>
              </div>
            </td>
          </thead>
        </table>
      </div> -->
      <div class="flex justify-inline">
        <div class="text-left mt-4 w-1/6 flex flex-wrap pt-24">
          <table class="ml-2 border border-gray-700">
            <thead class="border border-gray-700">
              <tr
                v-for="position in GROUP.slice().reverse()"
                :key="position.joblevel"
                class="border border-gray-700"
              >
                <th
                  class="font-light text-xs md:text-base border border-gray-700 px-2"
                >
                  {{ position.pl }}
                </th>
                <th
                  class="font-light text-xs md:text-base border border-gray-700 px-2"
                >
                  {{ position.act }}
                </th>
                <th
                  class="font-light text-xs md:text-base border border-gray-700 px-2 uppercase xl:hidden"
                  :id="position.joblevel.substring(0, 3)"
                >
                  {{ position.joblevel.substring(0, 3) }}
                </th>
                <th
                  class="font-light text-xs md:text-base border border-gray-700 px-2 hidden xl:table-cell"
                  :id="position.joblevel.substring(0, 3)"
                >
                  {{ position.joblevel }}
                </th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="mt-4 w-5/6">
          <table>
            <thead>
              <tr class="bg-gray-300 border border-gray-700 uppercase" hidden>
                <th
                  colspan="2"
                  class="px-1 lg:px-2 py-3 lg:py-6 text-xs md:text-base"
                  v-for="item in DATA"
                  :key="item.bu"
                >
                  {{ item.bu }}
                </th>
              </tr>
              <tr class="bg-gray-300 border border-gray-700 uppercase">
                <th
                  colspan="2"
                  class="px-1 lg:px-2 py-2 text-xs md:text-base border border-gray-700 w-28"
                  v-for="(item, index) in manBU"
                  :key="index"
                >
                  <!-- <input
                  class="px-1 text-xs md:text-base "
                  type="text"
                  :value="item.bu"
                /> -->
                  {{ item.bu }}
                </th>
              </tr>

              <td
                v-for="item in manBU"
                :key="item.bu"
                colspan="2"
                class="border border-gray-700"
              >
                <div class="flex justify-inline">
                  <div class="w-1/2 border-r bg-gray-200 border-gray-700">
                    <span class="text-xs md:text-base">{{ item.pl }}</span>
                  </div>
                  <div class="w-1/2">
                    <span class="text-xs md:text-base">{{ item.act }}</span>
                  </div>
                </div>
              </td>
              <tr>
                <td class="h-7"></td>
              </tr>

              <tr class="">
                <td
                  v-for="item in ARR_TOP"
                  :key="item.BU"
                  colspan="2"
                  class="border border-gray-700 w-28"
                >
                  <div class="flex justify-inline">
                    <div class="w-1/2 border-r bg-gray-200 border-gray-700">
                      <span class="text-xs md:text-base">{{
                        item.summation_want
                      }}</span>
                    </div>
                    <div class="w-1/2">
                      <span class="text-xs md:text-base">{{
                        item.summation_have
                      }}</span>
                    </div>
                  </div>
                </td>
              </tr>
              <!--------->
              <tr>
                <td
                  v-for="item in ARR_MID"
                  :key="item.BU"
                  colspan="2"
                  class="border border-gray-700 w-28"
                >
                  <div class="flex justify-inline">
                    <div
                      class="w-1/2 border-r bg-gray-200 cursor-pointer hover:bg-gray-200 has-tooltip border-gray-700"
                      @click="toggleModal(item.BU, w)"
                      @mouseover="mouseOvermid(item.BU, w)"
                      @mouseleave="mouseleave"
                    >
                      <div
                        v-if="over == 1 && item.BU == nowBU"
                        class="tooltip rounded shadow-lg p-1 bg-gray-100 text-red-500 mt-7 ml-12 border border-gray-700 w-36"
                      >
                        <div class="border-b border-gray-700">
                          <span class="font-bold">{{ nowBU }}</span>
                        </div>
                        <div
                          v-for="data in showData"
                          :key="data.name"
                          class="flex justify-inline"
                        >
                          <div class="w-1/2 border-r border-gray-700">
                            {{ data.name }}
                          </div>
                          <div class="w-1/2">
                            {{ data.pl }}
                          </div>
                        </div>
                      </div>
                      <span class="text-xs md:text-base">{{
                        item.summation_want
                      }}</span>
                    </div>
                    <div
                      class="w-1/2 cursor-pointer hover:bg-yellow-200 has-tooltip bg-yellow-400 border-2 border-yellow-200 hover:border-yellow-300"
                      @click="toggleModal(item.BU, h)"
                      @mouseover="mouseOvermid(item.BU, h)"
                      @mouseleave="mouseleave"
                      v-if="item.summation_have < item.summation_want"
                    >
                      <div
                        v-if="over == 1 && item.BU == nowBU"
                        class="tooltip rounded shadow-lg p-1 bg-gray-100 text-red-500 mt-7 ml-12 border border-gray-700 w-36"
                      >
                        <div class="border-b border-gray-700">
                          <span class="font-bold">{{ nowBU }}</span>
                        </div>
                        <div
                          v-for="data in showData"
                          :key="data.name"
                          class="flex justify-inline"
                        >
                          <div class="w-1/2 border-r border-gray-700">
                            {{ data.name }}
                          </div>
                          <div class="w-1/2">
                            {{ data.act }}
                          </div>
                        </div>
                      </div>
                      <span class="text-xs md:text-base">{{
                        item.summation_have
                      }}</span>
                    </div>
                    <div
                      class="w-1/2 cursor-pointer hover:bg-red-300 has-tooltip bg-red-500 hover:border-red-400 border-2 border-red-200"
                      @click="toggleModal(item.BU, h)"
                      @mouseover="mouseOvermid(item.BU, h)"
                      @mouseleave="mouseleave"
                      v-else-if="item.summation_have > item.summation_want"
                    >
                      <div
                        v-if="over == 1 && item.BU == nowBU"
                        class="tooltip rounded shadow-lg p-1 bg-gray-100 text-red-500 mt-7 ml-12 border border-gray-700 w-36"
                      >
                        <div class="border-b border-gray-700">
                          <span class="font-bold">{{ nowBU }}</span>
                        </div>
                        <div
                          v-for="data in showData"
                          :key="data.name"
                          class="flex justify-inline"
                        >
                          <div class="w-1/2 border-r border-gray-700">
                            {{ data.name }}
                          </div>
                          <div class="w-1/2">
                            {{ data.act }}
                          </div>
                        </div>
                      </div>
                      <span class="text-xs md:text-base">{{
                        item.summation_have
                      }}</span>
                    </div>
                    <div
                      class="w-1/2 cursor-pointer hover:bg-gray-200 has-tooltip"
                      @click="toggleModal(item.BU, h)"
                      @mouseover="mouseOvermid(item.BU, h)"
                      @mouseleave="mouseleave"
                      v-else
                    >
                      <div
                        v-if="over == 1 && item.BU == nowBU"
                        class="tooltip rounded shadow-lg p-1 bg-gray-100 text-red-500 mt-7 ml-12 border border-gray-700 w-36"
                      >
                        <div class="border-b border-gray-700">
                          <span class="font-bold">{{ nowBU }}</span>
                        </div>
                        <div
                          v-for="data in showData"
                          :key="data.name"
                          class="flex justify-inline"
                        >
                          <div class="w-1/2 border-r border-gray-700">
                            {{ data.name }}
                          </div>
                          <div class="w-1/2">
                            {{ data.act }}
                          </div>
                        </div>
                      </div>
                      <span class="text-xs md:text-base">{{
                        item.summation_have
                      }}</span>
                    </div>
                  </div>
                </td>
              </tr>
              <!-------->
              <tr>
                <td
                  v-for="item in ARR_SUP"
                  :key="item.BU"
                  colspan="2"
                  class="border border-gray-700"
                >
                  <div class="flex justify-inline">
                    <div
                      class="w-1/2 border-r bg-gray-200 cursor-pointer hover:bg-gray-200 has-tooltip border-gray-700"
                      @click="toggleModalSup(item.BU, w)"
                      @mouseover="mouseOversup(item.BU, w)"
                      @mouseleave="mouseleave"
                    >
                      <div
                        v-if="over == 1 && item.BU == nowBU"
                        class="tooltip rounded shadow-lg p-1 bg-gray-100 text-red-500 mt-7 ml-12 border border-gray-700 w-36"
                      >
                        <div class="border-b border-gray-700">
                          <span class="font-bold">{{ nowBU }}</span>
                        </div>
                        <div
                          v-for="data in showData"
                          :key="data.name"
                          class="flex justify-inline"
                        >
                          <div class="w-1/2 border-r border-gray-700">
                            {{ data.name }}
                          </div>
                          <div class="w-1/2">
                            {{ data.pl }}
                          </div>
                        </div>
                      </div>
                      <span class="text-xs md:text-base">{{
                        item.summation_want
                      }}</span>
                    </div>
                    <div
                      class="w-1/2 cursor-pointer hover:bg-yellow-200 has-tooltip bg-yellow-400 hover:border-yellow-300 border-2 border-2 border-yellow-200"
                      @click="toggleModalSup(item.BU, h)"
                      @mouseover="mouseOversup(item.BU, h)"
                      @mouseleave="mouseleave"
                      v-if="item.summation_have < item.summation_want"
                    >
                      <div
                        v-if="over == 1 && item.BU == nowBU"
                        class="tooltip rounded shadow-lg p-1 bg-gray-100 text-red-500 mt-7 ml-12 border border-gray-700 w-36"
                      >
                        <div class="border-b border-gray-700">
                          <span class="font-bold">{{ nowBU }}</span>
                        </div>
                        <div
                          v-for="data in showData"
                          :key="data.name"
                          class="flex justify-inline"
                        >
                          <div class="w-1/2 border-r border-gray-700">
                            {{ data.name }}
                          </div>
                          <div class="w-1/2">
                            {{ data.act }}
                          </div>
                        </div>
                      </div>
                      <span class="text-xs md:text-base">{{
                        item.summation_have
                      }}</span>
                    </div>
                    <div
                      class="w-1/2 cursor-pointer hover:bg-red-200 has-tooltip bg-red-500 hover:border-red-400 border-2 border-red-200"
                      @click="toggleModalSup(item.BU, h)"
                      @mouseover="mouseOversup(item.BU, h)"
                      @mouseleave="mouseleave"
                      v-else-if="item.summation_have > item.summation_want"
                    >
                      <div
                        v-if="over == 1 && item.BU == nowBU"
                        class="tooltip rounded shadow-lg p-1 bg-gray-100 text-red-500 mt-7 ml-12 border border-gray-700 w-36"
                      >
                        <div class="border-b border-gray-700">
                          <span class="font-bold">{{ nowBU }}</span>
                        </div>
                        <div
                          v-for="data in showData"
                          :key="data.name"
                          class="flex justify-inline"
                        >
                          <div class="w-1/2 border-r border-gray-700">
                            {{ data.name }}
                          </div>
                          <div class="w-1/2">
                            {{ data.act }}
                          </div>
                        </div>
                      </div>
                      <span class="text-xs md:text-base">{{
                        item.summation_have
                      }}</span>
                    </div>
                    <div
                      class="w-1/2 cursor-pointer hover:bg-gray-200 has-tooltip"
                      @click="toggleModalSup(item.BU, h)"
                      @mouseover="mouseOversup(item.BU, h)"
                      @mouseleave="mouseleave"
                      v-else
                    >
                      <div
                        v-if="over == 1 && item.BU == nowBU"
                        class="tooltip rounded shadow-lg p-1 bg-gray-100 text-red-500 mt-7 ml-12 border border-gray-700 w-36"
                      >
                        <div class="border-b border-gray-700">
                          <span class="font-bold">{{ nowBU }}</span>
                        </div>
                        <div
                          v-for="data in showData"
                          :key="data.name"
                          class="flex justify-inline"
                        >
                          <div class="w-1/2 border-r border-gray-700">
                            {{ data.name }}
                          </div>
                          <div class="w-1/2">
                            {{ data.act }}
                          </div>
                        </div>
                      </div>
                      <span class="text-xs md:text-base">{{
                        item.summation_have
                      }}</span>
                    </div>
                  </div>
                </td>
              </tr>
              <!-------->
              <tr>
                <td
                  v-for="(item, index) in ARR_OPR"
                  :key="index"
                  colspan="2"
                  class="border border-gray-700"
                >
                  <div class="flex justify-inline">
                    <div
                      class="w-1/2 border-r bg-gray-200 cursor-pointer hover:bg-gray-200 has-tooltip border-gray-700"
                      @click="toggleModal2(item.BU, w)"
                      @mouseover="mouseOver(item.BU, w)"
                      @mouseleave="mouseleave"
                    >
                      <div
                        v-if="over == 1 && item.BU == nowBU"
                        class="tooltip rounded shadow-lg p-1 bg-gray-100 text-red-500 mt-7 ml-12 border border-gray-700 w-36"
                      >
                        <div class="border-b border-gray-700">
                          <span class="font-bold">{{ nowBU }}</span>
                        </div>
                        <div
                          v-for="data in showData"
                          :key="data.name"
                          class="flex justify-inline"
                        >
                          <div class="w-1/2 border-r border-gray-700">
                            {{ data.name }}
                          </div>
                          <div class="w-1/2">
                            {{ data.pl }}
                          </div>
                        </div>
                      </div>

                      <span class="text-xs md:text-base">{{
                        item.summation_want
                      }}</span>
                    </div>
                    <div
                      class="w-1/2 cursor-pointer hover:bg-yellow-200 has-tooltip bg-yellow-400 hover:border-yellow-300 border-2 border-2 border-yellow-200"
                      @click="toggleModal2(item.BU, h)"
                      @mouseover="mouseOver(item.BU, h)"
                      @mouseleave="mouseleave"
                      v-if="item.summation_have < item.summation_want"
                    >
                      <div
                        v-if="over == 1 && item.BU == nowBU"
                        class="tooltip rounded shadow-lg p-1 bg-gray-100 text-red-500 mt-7 ml-12 border border-gray-700 w-36"
                      >
                        <div class="border-b border-gray-700">
                          <span class="font-bold">{{ nowBU }}</span>
                        </div>
                        <div
                          v-for="data in showData"
                          :key="data.name"
                          class="flex justify-inline"
                        >
                          <div class="w-1/2 border-r border-gray-700">
                            {{ data.name }}
                          </div>
                          <div class="w-1/2">
                            {{ data.act }}
                          </div>
                        </div>
                      </div>
                      <span class="text-xs md:text-base">{{
                        item.summation_have
                      }}</span>
                    </div>
                    <div
                      class="w-1/2 cursor-pointer hover:bg-red-300 has-tooltip bg-red-500 hover:border-red-400 border-2 border-red-200"
                      @click="toggleModal2(item.BU, h)"
                      @mouseover="mouseOver(item.BU, h)"
                      @mouseleave="mouseleave"
                      v-else-if="item.summation_have > item.summation_want"
                    >
                      <div
                        v-if="over == 1 && item.BU == nowBU"
                        class="tooltip rounded shadow-lg p-1 bg-gray-100 text-red-500 mt-7 ml-12 border border-gray-700 w-36"
                      >
                        <div class="border-b border-gray-700">
                          <span class="font-bold">{{ nowBU }}</span>
                        </div>
                        <div
                          v-for="data in showData"
                          :key="data.name"
                          class="flex justify-inline"
                        >
                          <div class="w-1/2 border-r border-gray-700">
                            {{ data.name }}
                          </div>
                          <div class="w-1/2">
                            {{ data.act }}
                          </div>
                        </div>
                      </div>
                      <span class="text-xs md:text-base">{{
                        item.summation_have
                      }}</span>
                    </div>
                    <div
                      class="w-1/2 cursor-pointer hover:bg-gray-200 has-tooltip"
                      @click="toggleModal2(item.BU, h)"
                      @mouseover="mouseOver(item.BU, h)"
                      @mouseleave="mouseleave"
                      v-else
                    >
                      <div
                        v-if="over == 1 && item.BU == nowBU"
                        class="tooltip rounded shadow-lg p-1 bg-gray-100 text-red-500 mt-7 ml-12 border border-gray-700 w-36"
                      >
                        <div class="border-b border-gray-700">
                          <span class="font-bold">{{ nowBU }}</span>
                        </div>
                        <div
                          v-for="data in showData"
                          :key="data.name"
                          class="flex justify-inline"
                        >
                          <div class="w-1/2 border-r border-gray-700">
                            {{ data.name }}
                          </div>
                          <div class="w-1/2">
                            {{ data.act }}
                          </div>
                        </div>
                      </div>
                      <span class="text-xs md:text-base">{{
                        item.summation_have
                      }}</span>
                    </div>
                  </div>
                </td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <div class="ml-4 mt-4">
      <table class="table-auto border-collapse">
        <thead class="border border-gray-700">
          <th class="px-3 border border-gray-700">Planned</th>
          <th class="px-3 border border-gray-700">Actual</th>
          <th class="px-3 border border-gray-700">Recruit</th>
        </thead>
        <tbody>
          <td class="border border-gray-700 py-2 bg-gray-200">
            {{ this.sumplan }}
          </td>
          <td class="border border-gray-700">{{ this.sumact }}</td>
          <td class="border border-gray-700">
            {{ this.sumplan - this.sumact }}
          </td>
        </tbody>
      </table>
    </div>
    <div
      v-if="this.sModal"
      class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
    >
      <div class="relative w-auto my-6 mx-auto max-w-6xl">
        <!--content-->
        <div
          class="border-0 rounded-lg shadow-lg relative flex flex-col bg-white outline-none focus:outline-none"
        >
          <!--header-->
          <div
            class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t"
          >
            <table class="table-auto border border-gray-700">
              <thead>
                <tr
                  v-for="people in this.showData"
                  :key="people.name"
                  class="border border-gray-700"
                >
                  <th
                    class="text-left px-2 border-r border-gray-700 font-light"
                  >
                    {{ people.name }}
                  </th>
                  <th class="px-2 font-light">{{ people.pl }}</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="sModal"
      class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
    >
      <div class="relative w-2/6 my-6 mx-auto max-w-4xl">
        <!--content-->
        <div
          class="border-0 rounded-lg shadow-lg relative flex flex-col bg-white outline-none focus:outline-none"
        >
          <!--header-->
          <div
            class="flex items-start justify-center border-b border-solid border-blueGray-200 rounded-t"
          >
            <div class="">
              <h3 class="text-2xl font-semibold">{{ this.BUclick }}</h3>
              <div>
                <h3 class="text-sm">{{ this.nowPOS }}</h3>
              </div>
            </div>
          </div>
          <!--body-->
          <div class="relative flex-auto flex justify-center">
            <table class="w-1/2">
              <thead class="border border-gray-700">
                <tr v-for="ii in this.showData" :key="ii.name">
                  <th class="border border-gray-700 font-light text-left px-2">
                    {{ ii.name }}
                  </th>
                  <th
                    class="border border-gray-700 font-light px-2"
                    v-if="st_now == 'want'"
                  >
                    {{ ii.pl }}
                  </th>
                  <th class="border border-gray-700 font-light px-2" v-else>
                    {{ ii.act }}
                  </th>
                </tr>
              </thead>
            </table>
          </div>
          <!--footer-->
          <div
            class="flex justify-center pt-1 border-t border-solid border-blueGray-200 rounded-b"
          >
            <button
              class="text-red-500 bg-transparent border border-solid border-red-500 hover:bg-red-500 hover:text-white active:bg-red-600 font-bold uppercase text-sm px-6 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              v-on:click="toggleModal()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="this.sModal"
      class="opacity-25 fixed inset-0 z-40 bg-black"
    ></div>
  </div>
</template>
<script>
import axios from "axios";
//const url = "https://hook.zubbsteel.com/line-ci/org/manpower";
export default {
  data() {
    return {
      GROUP: [],
      DATA: [],
      ARR_TOP: [],
      ARR_MID: [],
      ARR_SUP: [],
      ARR_OPR: [],
      sumpos: "",
      sumpos_h: "",
      showData: [],
      nowBU: "",
      nowPOS: "",
      sModal: false,
      w: "want",
      h: "have",
      st_now: "",
      over: "",
      BUclick: "",
      DT: [],
      manBU: [],
      sumplan: 0,
      sumact: 0,
      sumrec: 0,
    };
  },
  created() {
    this.loaddata();
    this.sortBU();

    // this.summation_middle();
    // this.summation_top();
    // this.summation_super();
    // this.summation_operation();
    // this.sumbu();
  },
  methods: {
    async loaddata() {
      try {
        const result = await axios.get(
          "https://hook.zubbsteel.com/line-ci/org/manpower"
        );

        this.DT = result.data;
        this.manBU = result.data.BU;

        this.DATA = this.DT.BU;
        this.GROUP = this.DT.GROUP;
        this.ARR_TOP = this.DT.ARR_TOP;
        this.ARR_MID = this.DT.ARR_MID;
        this.ARR_OPR = this.DT.ARR_OPR;
        this.ARR_SUP = this.DT.ARR_SUP;

        this.summation_middle();
        this.summation_top();
        this.summation_super();
        this.summation_operation();
        this.checkBU();
        this.totalplan();
        //this.sumbu();
        //console.log("DDTTAA::", this.DATA);
        let AFC = "";

        this.DATA.forEach((data, index) => {
          if (data.bu == "AFC" || data.bu == "พยาบาล") {
            if (data.bu == "AFC") {
              AFC = index;
            } else if (data.bu == "พยาบาล") {
              AFC = index;
            }
            this.DATA.splice(AFC, 1);
          }
        });
        // console.log(this.DATA);
      } catch (error) {
        console.error();
      }
    },
    sortBU() {
      this.DATA.sort(function (a, b) {
        if (a.BU < b.BU) {
          return -1;
        } else if (a.BU > b.BU) {
          return 1;
        } else {
          return 0;
        }
      });
      //console.log("หลังเรียง=>", this.DATA);
      //let findAFC = this.DATA.BU.indexOf("AFC");

      //let manageBU = [];

      //console.log("BU=>", manageBU);
    },
    totalplan() {
      this.GROUP.forEach((data) => {
        this.sumplan = this.sumplan + data.pl;
        this.sumact = this.sumact + data.act;
      });
    },
    toggleModal(dep, h) {
      this.over = "";
      this.sModal = !this.sModal;
      if (this.sModal == true) {
        this.show_inmid(dep, h);
      }
    },
    toggleModal2(dep, h) {
      this.over = "";
      this.sModal = !this.sModal;
      if (this.sModal == true) {
        this.show_inopr(dep, h);
      }
    },
    toggleModalSup(dep, h) {
      this.over = "";
      this.sModal = !this.sModal;
      if (this.sModal == true) {
        this.show_insup(dep, h);
      }
    },
    show_insup(dep, h) {
      let data_group = [];
      this.nowBU = dep;
      this.BUclick = dep;
      this.nowPOS = "Supervisor";
      this.st_now = h;
      this.ARR_SUP.forEach((data) => {
        if (data.BU == dep) {
          for (let i = 0; i < data.DEP.length; i++) {
            data_group.push({
              name: data.DEP[i].name,
              pl: data.DEP[i].pl,
              act: data.DEP[i].act,
            });
          }
        }
      });
      this.showData = data_group;
      if (this.over != 1) {
        this.sModal = true;
      }
    },
    show_inmid(dep, h) {
      let data_group = [];
      this.nowBU = dep;
      this.BUclick = dep;
      this.nowPOS = "Mid Management";
      this.st_now = h;
      this.ARR_MID.forEach((data) => {
        if (data.BU == dep) {
          for (let i = 0; i < data.DEP.length; i++) {
            data_group.push({
              name: data.DEP[i].name,
              pl: data.DEP[i].pl,
              act: data.DEP[i].act,
            });
          }
        }
      });
      //console.log(data_group);
      this.showData = data_group;
      if (this.over != 1) {
        this.sModal = true;
      }
    },
    show_inopr(dep, h) {
      let data_group = [];
      this.nowBU = dep;
      this.BUclick = dep;
      this.nowPOS = "Operation";
      this.st_now = h;
      this.ARR_OPR.forEach((data) => {
        if (data.BU == dep) {
          for (let i = 0; i < data.DEP.length; i++) {
            data_group.push({
              name: data.DEP[i].name,
              pl: data.DEP[i].pl,
              act: data.DEP[i].act,
            });
          }
        }
      });

      this.showData = data_group;
      //console.log(this.showData);
      if (this.over != 1) {
        this.sModal = true;
        // console.log("BU AF=>", this.nowBU);
      }
    },
    sumbu() {
      this.ARR_MID.forEach((data) => {
        let findIBU = this.DATA.findIndex((x) => x.bu == data.BU);

        if (findIBU !== -1) {
          let sumbu = 0;
          let sumbu_h = 0;

          this.ARR_OPR.forEach((x) => {
            if (x.bu == data.BU) {
              sumbu =
                data.summation_want +
                x.summation_want +
                parseInt(this.ARR_TOP[findIBU].DEP[0].pl);
              sumbu_h =
                data.summation_have +
                x.summation_have +
                parseInt(this.ARR_TOP[findIBU].DEP[0].act);

              // console.log(data.summation_want);
              // console.log("รวมต้องการ=>>", sumbu);
            }
            this.DATA[findIBU].pl = sumbu;
            this.DATA[findIBU].act = sumbu_h;
          });
        }
      });
    },
    summation_top() {
      let total_want = 0;
      let total_have = 0;
      let in_pos;
      this.ARR_TOP.forEach((element) => {
        let sh = 0;
        let sw = 0;
        sh = sh + parseInt(element.DEP[0].act);
        sw = sw + parseInt(element.DEP[0].pl);

        element.summation_have = sh;
        element.summation_want = sw;
        total_want = total_want + sw;
        total_have = total_have + sh;
        in_pos = element.POS; //in_pos คือตำแหน่ง TOP
      });
      this.sumpos = total_want;
      this.sumpos_h = total_have;
      let findPOS = this.GROUP.findIndex((x) => x.joblevel == in_pos); // หา index ที่ POS==TOP
      this.GROUP[findPOS].pl = this.sumpos;
      this.GROUP[findPOS].act = this.sumpos_h;
    },
    summation_middle() {
      //console.log(this.YIBYOI);
      let total_want = 0;
      let total_have = 0;
      let in_pos;
      //let afc = "";
      //let afc2 = "";
      this.ARR_MID.forEach((element) => {
        let sh = 0;
        let sw = 0;
        for (let i = 0; i < element.DEP.length; i++) {
          sh = sh + parseInt(element.DEP[i].act);
          sw = sw + parseInt(element.DEP[i].pl);
        }

        element.summation_have = sh;
        element.summation_want = sw;
        total_want = total_want + sw;
        total_have = total_have + sh;
        in_pos = element.POS; //in_pos คือตำแหน่ง middle

        // if (element.BU == "AFC") {
        //   afc = index;
        // }
      });

      this.sumpos = total_want;
      this.sumpos_h = total_have;

      let findPOS = this.GROUP.findIndex((x) => x.joblevel == in_pos); // หา index ที่ POS==MIDDLE
      this.GROUP[findPOS].pl = this.sumpos;
      this.GROUP[findPOS].act = this.sumpos_h;
      // this.ARR_MID.splice(afc, 1);
      //  this.ARR_MID.splice(afc2, 1);
    },
    summation_super() {
      //console.log(this.YIBYOI);
      let total_want = 0;
      let total_have = 0;
      let in_pos;
      let afc = "";
      this.ARR_SUP.forEach((element, index) => {
        let sh = 0;
        let sw = 0;
        //let finddep = this.manBU.indexOf(element.BU);
        // if (finddep == -1) {
        //   console.log("หาไม่เจอจ้า =>", element.BU);
        // }
        for (let i = 0; i < element.DEP.length; i++) {
          sh = sh + parseInt(element.DEP[i].act);
          sw = sw + parseInt(element.DEP[i].pl);
        }
        element.summation_have = sh;
        element.summation_want = sw;
        total_want = total_want + sw;
        total_have = total_have + sh;
        in_pos = element.POS; //in_pos คือตำแหน่ง supervisor
        if (element.BU == "AFC") {
          afc = index;
        }
      });
      this.sumpos = total_want;
      this.sumpos_h = total_have;
      let findPOS = this.GROUP.findIndex((x) => x.joblevel == in_pos); // หา index ที่ POS==SUPERVISOR
      this.GROUP[findPOS].pl = this.sumpos;
      this.GROUP[findPOS].act = this.sumpos_h;
      this.ARR_SUP.splice(afc, 1);
      console.log(this.ARR_SUP);
    },
    summation_operation() {
      //console.log(this.YIBYOI);
      let total_want = 0;
      let total_have = 0;
      let in_pos;
      this.ARR_OPR.forEach((element) => {
        let sh = 0;
        let sw = 0;
        for (let i = 0; i < element.DEP.length; i++) {
          sh = sh + parseInt(element.DEP[i].act);
          sw = sw + parseInt(element.DEP[i].pl);
        }
        element.summation_have = sh;
        element.summation_want = sw;
        total_want = total_want + sw;
        total_have = total_have + sh;
        in_pos = element.POS; //in_pos คือตำแหน่ง operation
      });
      this.sumpos = total_want;
      this.sumpos_h = total_have;
      let findPOS = this.GROUP.findIndex((x) => x.joblevel == in_pos); // หา index ที่ POS==OPERATION
      this.GROUP[findPOS].pl = this.sumpos;
      this.GROUP[findPOS].act = this.sumpos_h;
      // console.log(this.GROUP);
    },
    checkBU() {
      let arrsup = [];
      this.ARR_SUP.forEach((data) => {
        arrsup.push(data.BU);
      });
      this.manBU.map((data) => {
        const a = arrsup.includes(data.bu);
        if (!a) {
          let index = this.manBU.findIndex((x) => x.bu == data.bu);
          let newarr = [{ pl: 0, bu: data.bu, act: 0 }];
          this.ARR_SUP.splice(index, 0, newarr);
        }
      });
      //เอาออกเมื่อ AFC หรือพยาบาล มีค่า
      this.ARR_SUP.pop();
      this.ARR_SUP.pop();
      this.ARR_OPR.pop();
    },
    mouseOver(BU, w) {
      this.over = 1;
      this.nowBU = BU;
      //console.log(BU, "=>", w);
      this.show_inopr(BU, w);
    },
    mouseOversup(BU, w) {
      this.over = 1;
      this.nowBU = BU;
      //console.log(BU, "=>", w);
      this.show_insup(BU, w);
    },
    mouseOvermid(BU, w) {
      this.over = 1;
      this.nowBU = BU;
      //console.log(BU, "=>", w);
      this.show_inmid(BU, w);
    },
    mouseleave() {
      this.over = "";
      this.nowBU = "";
    },
  },
};
</script>
<style scoped>
#TOP {
  border-color: rgb(0, 0, 0);
  background-color: rgba(80, 108, 202, 255);
  color: black;
}
#MID {
  border-color: rgb(0, 0, 0);
  background-color: rgba(69, 184, 109, 255);

  color: black;
}
#Ope,
#Sup {
  border-color: rgb(0, 0, 0);
  background-color: rgba(246, 185, 58, 255);
  color: black;
}
.tooltip {
  @apply invisible absolute;
}
.tt {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}
</style>
